<head>
<%= javascript_include_tag "schedule" %>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>

<h2>Availability</h2>
<div class="days">
<button class="day">Mon</button>
<button class="day">Tue</button>
<button class="day">Wed</button>
<button class="day">Thur</button>
<button class="day">Fri</button>
<button class="day">Sat</button>
<button class="day">Sun</button>
</br>
<button class="night">Mon</button>
<button class="night">Tue</button>
<button class="night">Wed</button>
<button class="night">Thur</button>
<button class="night">Fri</button>
<button class="night">Sat</button>
<button class="night">Sun</button>
</div>
</br>
<div class="datepick">
<input type="text" id="from" name="from" />
<input type="text" id="to" name="to" />
</div>